<div class="jumbotron">
    <div class="container">
      <h1 class="display-4">contenuto</h1>
      <p class="lead">esempio</p>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>esempio</h2>
        <!-- aggiungiamo qualche contenuto -->
      </div>
      <div class="col-md-4">
        <h2>esempio</h2>
        <!-- aggiungiamo qualche contenuto-->
      </div>
      <div class="col-md-4">
        <h2>esempio</h2>
        <!-- aggiungiamo qualche contenuto -->
      </div>
    </div>
  </div>
  